USE [master]
GO
/****** Object:  Database [REHABITA]    Script Date: 15/09/2026 19:47:39 ******/
CREATE DATABASE [REHABITA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REHABITA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SLQ2022\MSSQL\DATA\REHABITA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REHABITA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SLQ2022\MSSQL\DATA\REHABITA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REHABITA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REHABITA]
GO
/****** Object:  User [rehabita_app]    Script Date: 15/09/2026 19:47:39 ******/
CREATE USER [rehabita_app] FOR LOGIN [rehabita_app] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [rehabita_app]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [rehabita_app]
GO
/****** Object:  Table [dbo].[atendimento]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atendimento](
	[id_atendimento] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[data_visita] [date] NOT NULL,
	[nivel_urgencia] [varchar](10) NOT NULL,
	[observacoes] [varchar](1000) NULL,
	[data_retorno] [date] NULL,
 CONSTRAINT [PK_atendimento] PRIMARY KEY CLUSTERED 
(
	[id_atendimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[atendimento_item]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atendimento_item](
	[id_atendimento_item] [int] IDENTITY(1,1) NOT NULL,
	[id_atendimento] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
 CONSTRAINT [PK_atendimento_item] PRIMARY KEY CLUSTERED 
(
	[id_atendimento_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bairro]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bairro](
	[id_bairro] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[cidade] [varchar](60) NOT NULL,
 CONSTRAINT [PK_bairro] PRIMARY KEY CLUSTERED 
(
	[id_bairro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_bairro_nome_cidade] UNIQUE NONCLUSTERED 
(
	[nome] ASC,
	[cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doacao]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doacao](
	[id_doacao] [int] IDENTITY(1,1) NOT NULL,
	[id_doador] [int] NULL,
	[id_usuario] [int] NOT NULL,
	[data_recebimento] [date] NOT NULL,
	[observacoes] [varchar](500) NULL,
 CONSTRAINT [PK_doacao] PRIMARY KEY CLUSTERED 
(
	[id_doacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doacao_item]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doacao_item](
	[id_doacao_item] [int] IDENTITY(1,1) NOT NULL,
	[id_doacao] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
 CONSTRAINT [PK_doacao_item] PRIMARY KEY CLUSTERED 
(
	[id_doacao_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doador]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doador](
	[id_doador] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[cpf_cnpj] [varchar](14) NULL,
	[telefone] [varchar](15) NULL,
	[email] [varchar](100) NULL,
 CONSTRAINT [PK_doador] PRIMARY KEY CLUSTERED 
(
	[id_doador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[familia]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[familia](
	[id_familia] [int] IDENTITY(1,1) NOT NULL,
	[id_bairro] [int] NOT NULL,
	[nome_responsavel] [varchar](100) NOT NULL,
	[cpf_responsavel] [char](11) NOT NULL,
	[data_nascimento_responsavel] [date] NOT NULL,
	[telefone_responsavel] [varchar](15) NULL,
	[escolaridade_responsavel] [varchar](40) NULL,
	[situacao_trabalho_responsavel] [varchar](40) NULL,
	[cep] [char](8) NOT NULL,
	[rua] [varchar](100) NOT NULL,
	[numero] [varchar](10) NOT NULL,
	[complemento] [varchar](60) NULL,
	[tipo_moradia] [varchar](30) NOT NULL,
	[faixa_renda] [varchar](30) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[data_cadastro] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_familia] PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_familia_cpf_responsavel] UNIQUE NONCLUSTERED 
(
	[cpf_responsavel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historico_status]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_status](
	[id_historico] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[status_anterior] [varchar](20) NULL,
	[status_novo] [varchar](20) NOT NULL,
	[motivo] [varchar](200) NULL,
	[data_alteracao] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_historico_status] PRIMARY KEY CLUSTERED 
(
	[id_historico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_doacao]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_doacao](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](80) NOT NULL,
	[categoria] [varchar](20) NOT NULL,
	[unidade_medida] [varchar](20) NOT NULL,
	[saldo_estoque] [int] NOT NULL,
	[ativo] [bit] NOT NULL,
 CONSTRAINT [PK_item_doacao] PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_item_doacao_nome] UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membro_familia]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membro_familia](
	[id_membro] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[cpf] [char](11) NULL,
	[data_nascimento] [date] NOT NULL,
	[telefone] [varchar](15) NULL,
	[parentesco] [varchar](30) NOT NULL,
 CONSTRAINT [PK_membro_familia] PRIMARY KEY CLUSTERED 
(
	[id_membro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 15/09/2026 19:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[cpf] [char](11) NOT NULL,
	[data_nascimento] [date] NULL,
	[telefone] [varchar](15) NULL,
	[email] [varchar](100) NOT NULL,
	[senha_hash] [varchar](255) NOT NULL,
	[perfil] [varchar](20) NOT NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_usuario_cpf] UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_usuario_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_atendimento_familia_data]    Script Date: 15/09/2026 19:47:39 ******/
CREATE NONCLUSTERED INDEX [IX_atendimento_familia_data] ON [dbo].[atendimento]
(
	[id_familia] ASC,
	[data_visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_atendimento_item_item]    Script Date: 15/09/2026 19:47:39 ******/
CREATE NONCLUSTERED INDEX [IX_atendimento_item_item] ON [dbo].[atendimento_item]
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_membro_familia_cpf]    Script Date: 15/09/2026 19:47:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_membro_familia_cpf] ON [dbo].[membro_familia]
(
	[cpf] ASC
)
WHERE ([cpf] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bairro] ADD  CONSTRAINT [DF_bairro_cidade]  DEFAULT ('Maringá') FOR [cidade]
GO
ALTER TABLE [dbo].[familia] ADD  CONSTRAINT [DF_familia_status]  DEFAULT ('NOVO') FOR [status]
GO
ALTER TABLE [dbo].[familia] ADD  CONSTRAINT [DF_familia_data_cadastro]  DEFAULT (sysdatetime()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[historico_status] ADD  CONSTRAINT [DF_historico_status_data]  DEFAULT (sysdatetime()) FOR [data_alteracao]
GO
ALTER TABLE [dbo].[item_doacao] ADD  CONSTRAINT [DF_item_doacao_saldo]  DEFAULT ((0)) FOR [saldo_estoque]
GO
ALTER TABLE [dbo].[item_doacao] ADD  CONSTRAINT [DF_item_doacao_ativo]  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_ativo]  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_data_cadastro]  DEFAULT (sysdatetime()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[atendimento]  WITH CHECK ADD  CONSTRAINT [FK_atendimento_familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[familia] ([id_familia])
GO
ALTER TABLE [dbo].[atendimento] CHECK CONSTRAINT [FK_atendimento_familia]
GO
ALTER TABLE [dbo].[atendimento]  WITH CHECK ADD  CONSTRAINT [FK_atendimento_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[atendimento] CHECK CONSTRAINT [FK_atendimento_usuario]
GO
ALTER TABLE [dbo].[atendimento_item]  WITH CHECK ADD  CONSTRAINT [FK_atendimento_item_atendimento] FOREIGN KEY([id_atendimento])
REFERENCES [dbo].[atendimento] ([id_atendimento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[atendimento_item] CHECK CONSTRAINT [FK_atendimento_item_atendimento]
GO
ALTER TABLE [dbo].[atendimento_item]  WITH CHECK ADD  CONSTRAINT [FK_atendimento_item_item] FOREIGN KEY([id_item])
REFERENCES [dbo].[item_doacao] ([id_item])
GO
ALTER TABLE [dbo].[atendimento_item] CHECK CONSTRAINT [FK_atendimento_item_item]
GO
ALTER TABLE [dbo].[doacao]  WITH CHECK ADD  CONSTRAINT [FK_doacao_doador] FOREIGN KEY([id_doador])
REFERENCES [dbo].[doador] ([id_doador])
GO
ALTER TABLE [dbo].[doacao] CHECK CONSTRAINT [FK_doacao_doador]
GO
ALTER TABLE [dbo].[doacao]  WITH CHECK ADD  CONSTRAINT [FK_doacao_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[doacao] CHECK CONSTRAINT [FK_doacao_usuario]
GO
ALTER TABLE [dbo].[doacao_item]  WITH CHECK ADD  CONSTRAINT [FK_doacao_item_doacao] FOREIGN KEY([id_doacao])
REFERENCES [dbo].[doacao] ([id_doacao])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doacao_item] CHECK CONSTRAINT [FK_doacao_item_doacao]
GO
ALTER TABLE [dbo].[doacao_item]  WITH CHECK ADD  CONSTRAINT [FK_doacao_item_item] FOREIGN KEY([id_item])
REFERENCES [dbo].[item_doacao] ([id_item])
GO
ALTER TABLE [dbo].[doacao_item] CHECK CONSTRAINT [FK_doacao_item_item]
GO
ALTER TABLE [dbo].[familia]  WITH CHECK ADD  CONSTRAINT [FK_familia_bairro] FOREIGN KEY([id_bairro])
REFERENCES [dbo].[bairro] ([id_bairro])
GO
ALTER TABLE [dbo].[familia] CHECK CONSTRAINT [FK_familia_bairro]
GO
ALTER TABLE [dbo].[historico_status]  WITH CHECK ADD  CONSTRAINT [FK_historico_status_familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[familia] ([id_familia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[historico_status] CHECK CONSTRAINT [FK_historico_status_familia]
GO
ALTER TABLE [dbo].[historico_status]  WITH CHECK ADD  CONSTRAINT [FK_historico_status_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[historico_status] CHECK CONSTRAINT [FK_historico_status_usuario]
GO
ALTER TABLE [dbo].[membro_familia]  WITH CHECK ADD  CONSTRAINT [FK_membro_familia_familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[familia] ([id_familia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[membro_familia] CHECK CONSTRAINT [FK_membro_familia_familia]
GO
ALTER TABLE [dbo].[atendimento]  WITH CHECK ADD  CONSTRAINT [CK_atendimento_data_retorno] CHECK  (([data_retorno] IS NULL OR [data_retorno]>=[data_visita]))
GO
ALTER TABLE [dbo].[atendimento] CHECK CONSTRAINT [CK_atendimento_data_retorno]
GO
ALTER TABLE [dbo].[atendimento]  WITH CHECK ADD  CONSTRAINT [CK_atendimento_nivel_urgencia] CHECK  (([nivel_urgencia]='ALTA' OR [nivel_urgencia]='MEDIA' OR [nivel_urgencia]='BAIXA'))
GO
ALTER TABLE [dbo].[atendimento] CHECK CONSTRAINT [CK_atendimento_nivel_urgencia]
GO
ALTER TABLE [dbo].[atendimento_item]  WITH CHECK ADD  CONSTRAINT [CK_atendimento_item_quantidade] CHECK  (([quantidade]>(0)))
GO
ALTER TABLE [dbo].[atendimento_item] CHECK CONSTRAINT [CK_atendimento_item_quantidade]
GO
ALTER TABLE [dbo].[doacao_item]  WITH CHECK ADD  CONSTRAINT [CK_doacao_item_quantidade] CHECK  (([quantidade]>(0)))
GO
ALTER TABLE [dbo].[doacao_item] CHECK CONSTRAINT [CK_doacao_item_quantidade]
GO
ALTER TABLE [dbo].[doador]  WITH CHECK ADD  CONSTRAINT [CK_doador_tipo] CHECK  (([tipo]='INSTITUICAO' OR [tipo]='EMPRESA' OR [tipo]='PESSOA_FISICA'))
GO
ALTER TABLE [dbo].[doador] CHECK CONSTRAINT [CK_doador_tipo]
GO
ALTER TABLE [dbo].[familia]  WITH CHECK ADD  CONSTRAINT [CK_familia_status] CHECK  (([status]='INATIVO' OR [status]='EM_ACOMPANHAMENTO' OR [status]='NOVO'))
GO
ALTER TABLE [dbo].[familia] CHECK CONSTRAINT [CK_familia_status]
GO
ALTER TABLE [dbo].[historico_status]  WITH CHECK ADD  CONSTRAINT [CK_historico_status_anterior] CHECK  (([status_anterior]='INATIVO' OR [status_anterior]='EM_ACOMPANHAMENTO' OR [status_anterior]='NOVO'))
GO
ALTER TABLE [dbo].[historico_status] CHECK CONSTRAINT [CK_historico_status_anterior]
GO
ALTER TABLE [dbo].[historico_status]  WITH CHECK ADD  CONSTRAINT [CK_historico_status_novo] CHECK  (([status_novo]='INATIVO' OR [status_novo]='EM_ACOMPANHAMENTO' OR [status_novo]='NOVO'))
GO
ALTER TABLE [dbo].[historico_status] CHECK CONSTRAINT [CK_historico_status_novo]
GO
ALTER TABLE [dbo].[item_doacao]  WITH CHECK ADD  CONSTRAINT [CK_item_doacao_categoria] CHECK  (([categoria]='OUTROS' OR [categoria]='VESTUARIO' OR [categoria]='HIGIENE' OR [categoria]='ALIMENTO'))
GO
ALTER TABLE [dbo].[item_doacao] CHECK CONSTRAINT [CK_item_doacao_categoria]
GO
ALTER TABLE [dbo].[item_doacao]  WITH CHECK ADD  CONSTRAINT [CK_item_doacao_saldo] CHECK  (([saldo_estoque]>=(0)))
GO
ALTER TABLE [dbo].[item_doacao] CHECK CONSTRAINT [CK_item_doacao_saldo]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [CK_usuario_perfil] CHECK  (([perfil]='ASSISTENTE_SOCIAL' OR [perfil]='COORDENADOR'))
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [CK_usuario_perfil]
GO
USE [master]
GO
